<!DOCTYPE html>
<html>
<head>
    <title>User Detail</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="user-details.js"></script>
	    <link rel="stylesheet" type="text/css" href="bootstrap/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="demo.css">
</head>
<body>
<div ng-app="app" ng-controller="UserController">
 <div id="container">
    <form name="form">
    <div id="heading">User Details Demo</div>
    <table>
        <tr>
            <td><label>Name:</label></td>
            <td><input type="text" name="name" ng-model="newuser.name" required autofocus/>
            </td>
        </tr>
        
        <tr>
            <td><label>Email:</label></td>
            <td><input type="email" name="email" ng-model="newuser.email" required/>
                <span ng-show="form.email.$dirty && form.email.$error.email">Not an email id!</span>
            </td>
        </tr>

        <tr>
            <td><label>Phone:</label></td>
            <td><input type="text" name="phone" ng-model="newuser.phone" maxlength="11" required /><td>
        </tr>    
        <tr>
            <td></td>
            <td><input ng-disabled="form.$invalid" id="save-btn" type="button" value="Save" ng-click="saveUser()" /></td>
        </tr>
    </table>
    </form>
</div>
    <table id="user-details-in-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in users">
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.phone }}</td>
                <td> <a href="javascript:void(0)" ng-click="edit(user.id)">Edit</a> | <a href="javascript:void(0)" ng-click="delete(user.id)">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>